.image-2-icon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.branding,
.i-love-creating {
  position: relative;
  display: inline-block;
}
.branding {
  font-weight: 700;
  min-width: 90px;
}
.i-love-creating {
  margin: 0;
  align-self: stretch;
  height: 93px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  flex-shrink: 0;
}
.services1 {
  align-self: stretch;
  gap: var(--gap-4xs);
}
.main-theme,
.main-theme-wrapper,
.services1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-theme {
  align-self: stretch;
  gap: var(--gap-11xl);
}
.main-theme-wrapper {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-55xl)
    var(--padding-10xl);
  box-sizing: border-box;
  min-width: 225px;
  min-height: 300px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-bricolage-grotesque);
}
@media screen and (max-width: 450px) {
  .branding {
    font-size: var(--font-size-base);
  }
}
