.icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-33xl);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 569px;
  min-height: 554px;
}
.icon,
.parent,
.social-icon {
  align-self: stretch;
  max-width: 100%;
}
.social-icon {
  width: 425px;
  position: relative;
  border-radius: var(--br-33xl);
  max-height: 100%;
  object-fit: cover;
  min-height: 554px;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.bxbxlfacebook-icon,
.child,
.frame-inner {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-33xl);
  object-fit: cover;
}
.child {
  height: 412px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.bxbxlfacebook-icon,
.frame-inner {
  width: 300px;
  max-height: 100%;
  min-height: 428px;
}
.bxbxlfacebook-parent,
.div1 {
  display: flex;
  justify-content: space-between;
}
.bxbxlfacebook-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.div1 {
  flex: 0.9879;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  min-width: 431px;
  min-height: 890px;
  max-width: 100%;
}
.mdiimagefiltercenterfocusstron-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-33xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 425px;
  min-height: 890px;
}
.mdiimagefiltercenterfocusstron1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.mdiimagefiltercenterfocusstron {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  z-index: 2;
}
.mdiimagefiltercenterfocusstron-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
@media screen and (max-width: 1425px) {
  .div1,
  .mdiimagefiltercenterfocusstron-child {
    flex: 1;
  }
  .mdiimagefiltercenterfocusstron1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .social-icon {
    flex: 1;
  }
  .parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .icon {
    min-width: 100%;
  }
  .parent {
    gap: var(--gap-5xl);
  }
  .bxbxlfacebook-parent {
    flex-wrap: wrap;
  }
  .div1,
  .mdiimagefiltercenterfocusstron-child {
    min-width: 100%;
  }
  .mdiimagefiltercenterfocusstron1 {
    gap: var(--gap-xl);
  }
  .mdiimagefiltercenterfocusstron {
    gap: var(--gap-6xl);
  }
}
