.span,
.whatICan {
  color: var(--color-dimgray);
}
.whatICanDoToConsistently {
  margin: 0;
}
.supportYourBusiness {
  margin: 0;
  color: var(--color-dimgray);
}
.whatICanContainer {
  margin: 0;
  width: 300px;
  position: relative;
  font-size: inherit;
  line-height: 43px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.mainPic {
  width: 998px;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-bricolage-grotesque);
}
.abousUsInner,
.mainPic,
.whatICanDoToConsistentlyParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.whatICanDoToConsistentlyParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 2;
}
.abousUsInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1425px) {
  .whatICanDoToConsistentlyParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .mainPic {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .whatICanContainer {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .mainPic {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .whatICanContainer {
    font-size: var(--font-size-lg);
    line-height: 26px;
  }
}
