.experience {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.as-a-freelancer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 23px;
  font-family: var(--font-bricolage-grotesque);
  color: var(--color-dimgray);
}
.experience-parent,
.frame-wrapper6 {
  flex-direction: column;
  justify-content: flex-start;
}
.experience-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-wrapper6 {
  width: 417px;
  min-width: 417px;
}
.abous-us-inner1,
.frame-parent3,
.frame-parent4,
.frame-wrapper6 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  width: 892px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 892px;
  font-size: var(--font-size-mini);
  font-family: var(--font-bricolage-grotesque);
}
.abous-us-inner1,
.frame-parent3 {
  flex-direction: row;
}
.frame-parent3 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 2;
}
.abous-us-inner1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1425px) {
  .frame-parent4,
  .frame-wrapper6 {
    flex: 1;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frame-parent4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .experience {
    font-size: var(--font-size-21xl);
  }
  .frame-wrapper6 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .experience {
    font-size: var(--font-size-11xl);
  }
  .frame-wrapper6 {
    gap: var(--gap-22xl);
  }
}
