.shishaChild {
  height: 48px;
  width: 236px;
  position: relative;
  border-radius: var(--br-57xl);
  display: none;
}
.viIcon {
  width: 8px;
  height: 8px;
  position: relative;
  z-index: 1;
}
.viWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.availableForWork {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.shisha {
  border-radius: var(--br-57xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-13xl);
  gap: var(--gap-5xs);
  z-index: 2;
}
.hagfoss,
.increaseConversation,
.reachCustomers,
.userExperience {
  color: var(--color-white);
}
.imLucasHagfossContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-36xl);
  font-weight: 500;
  font-family: var(--font-clash-display);
  z-index: 2;
  color: var(--color-dimgray);
}
.shishaParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xl);
  gap: var(--gap-7xl);
  font-family: var(--font-bricolage-grotesque);
}
.with {
  color: var(--color-dimgray);
}
.workedWith {
  margin: 0;
  position: relative;
  font-size: var(--font-size-16xl);
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
}
.projects {
  color: var(--color-dimgray);
}
.latestProjects1 {
  margin: 0;
  height: 62px;
  width: 400px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 400px;
  max-width: 100%;
}
.latestProjects {
  width: 367px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 86px;
  width: 248px;
}
.frameParent,
.latestProjectsParent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.latestProjectsParent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-31xl);
}
.frameParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-33xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 825px) {
  .imLucasHagfossContainer {
    font-size: var(--font-size-25xl);
  }
  .workedWith {
    font-size: var(--font-size-9xl);
  }
  .latestProjects1 {
    font-size: var(--font-size-21xl);
  }
  .latestProjectsParent {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-7xl);
  }
}
@media screen and (max-width: 450px) {
  .imLucasHagfossContainer {
    font-size: var(--font-size-14xl);
  }
  .workedWith {
    font-size: var(--font-size-2xl);
  }
  .latestProjects1 {
    font-size: var(--font-size-11xl);
  }
}
